.sl_content--contact {
	.gform_wrapper {
		max-width: 776px;
		background-color: #F0F4F6;
		padding: $spacing--lg;
		border-radius: $border-radius;
		margin-top: $spacing--xl;

		@include breakpoint (small down) {
			padding: 0;
			background: none;
			margin-top: $spacing--lg;

			& * {
				font-size: 1rem;
			}//end & *
		}//end small down breakpoint

		label.gfield_label {
			font-weight: $font-weight--regular;
			color: get-color(default);

			@include breakpoint (small down) {
				font-weight: $font-weight--semibold;
			}//end small down breakpoint

			.gfield_required {
				color: get-color(default);
			}//end .gfield_required
		}//end label.gfield_label

		//Input Field
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
			border-radius: $border-radius;
			height: 58px;
			width: 100%;
			margin-bottom: $spacing--sm;
			color: get-color(default);
			border-color: #9B9B9B;

			@include breakpoint (small down) {
				height: 50px;
				margin-bottom: $spacing--xs
			}//end small down breakpoint
		}//end input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file])

		//Text Area
		textarea {
			border-radius: $border-radius;
			color: get-color(default);
			border-color: #9B9B9B;
			width: 100%;
		}//end textarea

		ul.gform_fields {
			li.gfield {
				margin-bottom: $spacing--md;

				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint

				.gfield_radio {
					& > li:not(:last-of-type) {
						margin-bottom: $spacing--xs/2;
					}//end & > li:not(:last-of-type)
				}//end .gfield_radio
				input[type=radio] {
					width: 25px;
					height: 25px;
					margin-right: 10px;
					margin-bottom: 4px;
					margin-top: 0;
				}//end li.gfield input[type=radio]

				&.sl_form{
					&__conditional {
						margin-top: $spacing--lg;
						input[type=checkbox] {
							width: 30px;
							height: 30px;
							margin-right: 10px;
							margin-top: 0;
							margin-bottom: 0;
						}//end input[type=checkbox]

						label {
							font-weight: $font-weight--bold;
						}//end label
					}//end &__conditional

					&__select {
						.gfield_checkbox {
							display: flex;
							flex-flow: row wrap;


							& > li {
								flex: 0 0 50%;

								@include breakpoint (small down) {
									flex: 0 0 100%;
								}//end small down breakpoint

								label {
									display: block;
									background-color: get-color(inverse);
									padding: $spacing--sm;
									border: 1px solid #979797;
									text-align: center;
									max-width: 100%;
									margin-right: $spacing--xs/2;

									@include breakpoint (small down) {
										margin-right: 0;
										width: 100%;
										padding: $spacing--xs;
										font-weight: $font-weight--bold;
										color: get-color(default);
									}//end small down breakpoint
								}//end label

								input[type=checkbox] {
									display: none;

									&:checked+label {
										background-color: #F3F1E9;
										font-weight: $font-weight--regular;
									}//end &:checked+label
								}//end input display: none;
							}//end & > li
						}//end .gfield_checkbox
					}//end &__select
				}//end .sl_form
			}//end li.gfield
		}//end ul.gform_fields

		.gform_footer {
			text-align: center;
			input[type=submit] {
				margin: 0;
				padding: $spacing--xs $spacing--xl;
				border-radius: $border-radius;
				font-weight: $font-weight--bold;
			}//end input[type=submit]
		}//end .gform_footer
	}//end .gform_wrapper
}//end .sl_content--contact
