.sl_header {
	background-color: get-color(primary);
	padding: $spacing--xs 0;

	@include breakpoint (small down) {
		padding: $spacing--xs/2 0;
	}//end small only breakpoint

	.sl_logo {
		display: inline-block;
		img {
			height: auto;
			max-width: 413px;

			@include breakpoint (small down) {
				max-width: 160px;
			}//end small down breakpoint
		}//end img
	}//end .sl_logo

	.sl_badge {
		position: absolute;
		top: $spacing--lg;
		right: $spacing--lg;
		z-index: 2;
		max-width: 225px;
		height: auto;

		@include breakpoint (medium only) {
			max-width: 162px;
			top: $spacing--sm;
			right: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			max-width: 80px;
			top: $spacing--xs/2;
			right: $spacing--xs;
		}//end small down breakpoint
	}//end .sl_badge
}//end .sl_header