//Inner
.sl_inner {
	@include inner;
	position: relative;
	z-index: 1;

	&--expanded {
		max-width: none;
		padding: 0;
	}//end &--expanded
}//end .sl_inner

.sl_content {
	overflow: hidden;

	&--contact {
		padding: $spacing--xxl 0;

		@include breakpoint (small down) {
			padding: $spacing--md 0;
		}//end small down breakpoint

		p {
			font-size: 1.5rem;
			max-width: 1127px;
			font-weight: $font-weight--bold;

			@include breakpoint (small down) {
				font-size: 1rem;
				font-weight: $font-weight--regular;
			}//end small down breakpoint
		}//end p
	}//end &--contact
}//end .sl_content