{% extends "base.twig" %}

{% block content %}
<article id="sl_formatting-page">
	<section class="sl_content__body">
		<div class="sl_inner">

{# 1. HEADINGS #}
<div class="sl_row">

<div class="sl_cell large-6">
	<h1>h1. This is a very large header</h1>
	<h2>h2. This is a large header</h2>
	<h3>h3. This is a medium header</h3>
	<h4>h4. This is a moderate header</h4>
	<h5>h5. This is a small header</h5>
	<h6>h6. This is a tiny header</h6>
</div>{# /.sl_cell.large-6 #}

<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
<h1>h1. This is a very large header</h1>
<h2>h2. This is a large header</h2>
<h3>h3. This is a medium header</h3>
<h4>h4. This is a moderate header</h4>
<h5>h5. This is a small header</h5>
<h6>h6. This is a tiny header</h6>
</textarea>
</code>
</div>{# /.sl_cell.large-6 #}

</div>{# /.sl_row #}

<div class="sl_divider"></div>

{# 2. COLUMNS #}
<div class="sl_row">

<div class="sl_cell large-4">
	<h2>This is an h2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo. Integer luctus libero mi, sit amet porta lacus ornare non. Fusce eget egestas tellus, id dictum dui.</p>
</div>{# /.sl_cell.large-4 #}

<div class="sl_cell large-4">
	<h2>This is an h2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo. Integer luctus libero mi, sit amet porta lacus ornare non. Fusce eget egestas tellus, id dictum dui.</p>
</div>{# /.sl_cell.large-4 #}

<div class="sl_cell large-4">
	<h2>This is an h2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo. Integer luctus libero mi, sit amet porta lacus ornare non. Fusce eget egestas tellus, id dictum dui.</p>
</div>{# /.sl_cell.large-4 #}

</div>{# /.sl_row #}

<code>
<textarea style="height: 400px;">
[row]
[col large="4"]
<h2>This is an h2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo. Integer luctus libero mi, sit amet porta lacus ornare non. Fusce eget egestas tellus, id dictum dui.</p>
[/col]
[col large="4"]
<h2>This is an h2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo. Integer luctus libero mi, sit amet porta lacus ornare non. Fusce eget egestas tellus, id dictum dui.</p>
[/col]
[col large="4"]
<h2>This is an h2</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo. Integer luctus libero mi, sit amet porta lacus ornare non. Fusce eget egestas tellus, id dictum dui.</p>
[/col]
[/row]
</textarea>
</code>

<div class="sl_divider"></div>

{# 3. BLOCKQUOTE #}
<div class="sl_row">

<div class="sl_cell large-6">
	<blockquote>"Lorem ipsum dolor sit amet consectetur adipiscing elit, lacus sodales at accumsan himenaeos eleifend."<cite>John Smith, PHD</cite></blockquote>
</div>{# /.sl_cell.large-6 #}

<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
<blockquote>"Lorem ipsum dolor sit amet consectetur adipiscing elit, lacus sodales at accumsan himenaeos eleifend."<cite>John Smith, PHD</cite></blockquote>
</textarea>
</code>
</div>{# /.sl_cell.large-6 #}

</div>{# /.sl_row #}

<div class="sl_divider"></div>

{# 4. LISTS #}
<div class="sl_row">

<div class="sl_cell large-6">
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
		<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
		<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
	</ul>
	<ul class="sl_list">
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
		<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
		<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
	</ul>
	<ul class="sl_list--primary">
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
		<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
		<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
	</ul>
	<ul class="sl_list--outline">
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
		<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
		<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
	</ul>
	<ul class="sl_list--check">
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
		<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
		<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
	</ul>
</div>{# /.sl_cell.large-6 #}

<div class="sl_cell large-6">
<code>
<textarea style="height: 800px;">
<ul>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
</ul>
<ul class="sl_list">
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
</ul>
<ul class="sl_list--primary">
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
</ul>
<ul class="sl_list--outline">
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
</ul>
<ul class="sl_list--check">
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
</ul>
</textarea>
</code>
</div>{# /.sl_cell.large-6 #}

</div>{# /.sl_row #}

<div class="sl_divider"></div>

<div class="sl_row">

<div class="sl_cell large-6">
	<ol>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
		<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
		<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
	</ol>
</div>{# /.sl_cell.large-6 #}

<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
<ol>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, optio, voluptatum veniam beatae consequatur quam.</li>
<li>Deserunt, recusandae veritatis illum perspiciatis illo quae odio laboriosam laudantium consequuntur eveniet? Magni, tempore, animi.</li>
<li>Tempora, laboriosam, aspernatur, quisquam, recusandae pariatur hic dignissimos a inventore magni cupiditate quis eius. Nobis.</li>
</ol>
</textarea>
</code>
</div>{# /.sl_cell.large-6 #}

</div>{# /.sl_row #}

<div class="sl_divider"></div>

{# 5. CALLOUTS  #}

<div class="sl_row">
<div class="sl_cell large-6">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo.</p>
	<div class="sl_callout sl_callout--nobox">
		<p>Integer luctus libero mi, sit amet porta lacus ornare non. Fusce eget egestas tellus, id dictum dui. Pellentesque eu justo magna.</p>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo.</p>
[callout class="nobox"]
<p>Integer luctus libero mi, sit amet porta lacus ornare non. Fusce eget egestas tellus, id dictum dui. Pellentesque eu justo magna.</p>
[/callout]
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_row">
<div class="sl_cell large-6">
	<div class="sl_callout">
		<h2>This is a default callout</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
	</div>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
[callout]
<h2>This is a default callout</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
[/callout]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_row">
<div class="sl_cell large-6">
	<div class="sl_callout sl_callout--primary">
		<h2>This is a primary callout</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
	</div>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
[callout class="primary"]
<h2>This is a primary callout</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
[/callout]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_row">
<div class="sl_cell large-6">
	<div class="sl_callout sl_callout--inverse">
		<h2>This is an inverse callout</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
	</div>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
[callout class="inverse"]
<h2>This is an inverse callout</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
[/callout]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_row">
<div class="sl_cell large-6">
	<div class="sl_callout sl_callout--border">
		<h2>This is a border callout</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
	</div>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
[callout class="border"]
<h2>This is a border callout</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
[/callout]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_row">
<div class="sl_cell large-6">
	<div class="sl_callout sl_callout--card">
		<div class="sl_callout--card__media" style="background-image: url({{site.link}}/wp-content/uploads/michaelshouse-facility.jpg)"></div>
		<div class="sl_callout--card__content">
			<h2>This is a border callout</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
			<a class="sl_button sl_button--secondary" href="#">Learn More</a>
		</div>
	</div>{# /.sl_callout #}
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 400px;">
[callout-card img="/wp-content/uploads/michaelshouse-facility.jpg"]
<h2>This is a callout card</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porttitor, metus eu imperdiet rhoncus, nisi leo hendrerit nulla, sollicitudin vulputate sem metus vitae justo. Fusce a mi nunc. Aenean elit enim, facilisis sed ex aliquet, varius pellentesque justo.</p>
[button href="#" class="secondary"]Learn More[/button]
[/callout-card]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_divider"></div>

{# 6. BUTTONS #}
<div class="sl_row">
<div class="sl_cell large-6">
	<a class="sl_button" href="#">Default Button</a>
	<a class="sl_button sl_button--secondary" href="#">Secondary Button</a>
	<a class="sl_button sl_button--dark" href="#">Dark Button</a>
	<a class="sl_button sl_button--download" href="#">Download Button</a>
	<div class="sl_read-next"><h4>Read Next:</h4><a href="#" class="sl_button sl_button--secondary sl_button--readnext">Read Next Button</a></div>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
[button url="#"]Default Button[/button]
[button url="#" class="secondary"]Secondary Button[/button]
[button url="#" class="dark"]Dark Button[/button]
[button url="#" class="download"]Download Button[/button]
[button url="#" class="read-next"]Read Next Button[/button]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_divider"></div>

{# 7. TABS #}
<div class="sl_row">
<div class="sl_cell large-6">
	<div class="sl_tabs__container">
		<ul class="tabs sl_tabs" data-tabs="5yiap6-tabs" id="example-tabs1">
			<li class="tabs-title sl_tabs__title is-active" role="presentation"><a href="#tabpanel1" role="tab" aria-controls="tabpanel1" aria-selected="true" id="tabpanel1-label">Tab One</a></li>
			<li class="tabs-title sl_tabs__title" role="presentation"><a href="#tabpanel2" role="tab" aria-controls="tabpanel2" aria-selected="false" id="tabpanel2-label">Tab Two</a></li>
			<li class="tabs-title sl_tabs__title" role="presentation"><a href="#tabpanel3" role="tab" aria-controls="tabpanel3" aria-selected="false" id="tabpanel3-label">Tab Three</a></li>
		</ul>
	</div>{# /.sl_tabs__container #}
	<div class="tabs-content sl_tabs__content" data-tabs-content="example-tabs1">
		<div class="tabs-panel sl_tabs__panel is-active" id="tabpanel1" role="tabpanel" aria-hidden="false" aria-labelledby="tabpanel1-label">
			<h4>Tab 1 Content</h4>
			<p>This content is exclusive to tab one. Place your tab one content here.</p>
		</div>{# /.tabs-panel  #}
		<div class="tabs-panel sl_tabs__panel" id="tabpanel2" role="tabpanel" aria-hidden="true" aria-labelledby="tabpanel2-label">
			<h4>Tab 2 Content</h4>
			<p>This content is exclusive to tab two. Place your tab two content here.</p>
		</div>{# /.tabs-panel  #}
		<div class="tabs-panel sl_tabs__panel" id="tabpanel3" role="tabpanel" aria-hidden="true" aria-labelledby="tabpanel3-label">
			<h4>Tab 3 Content</h4>
			<p>This content is exclusive to tab three. Place your tab three content here.</p>
		</div>{# /.tabs-panel  #}
	</div>{# /.tabs-content  #}
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
[tabs]
[tab-title class="is-active"]Tab One[/tab-title]
[tab-title]Tab Two[/tab-title]
[tab-title]Tab Three[/tab-title]
[/tabs]

[tab-content]
[tab-panel class="is-active"]
<h2>Tab 1 Content</h2>
This content is exclusive to tab one. Place your tab one content here.
[/tab-panel]

[tab-panel]
<h2>Tab 2 Content</h2>
This content is exclusive to tab two. Place your tab two content here.
[/tab-panel]

[tab-panel]
<h2>Tab 3 Content</h2>
This content is exclusive to tab three. Place your tab three content here.
[/tab-panel]
[/tab-content]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_divider"></div>

{# 8. ACCORDIONS #}
<div class="sl_row">
<div class="sl_cell large-6">
	<ul class="accordion sl_accordion" data-accordion="default" data-multi-expand="true" data-allow-all-closed="true" role="tablist">
			<li class="accordion-item sl_accordion__item" data-accordion-item=""><a href="#" class="accordion-title sl_accordion__title" aria-controls="panel1" role="tab" id="panel1-label" aria-expanded="false" aria-selected="false">Accordian Title 1</a>
				<div id="panel1" class="accordion-content sl_accordion__content" data-tab-content="" role="tabpanel" aria-labelledby="panel1-label" aria-hidden="true">
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
				</div>
			</li>
			<li class="accordion-item sl_accordion__item" data-accordion-item=""><a href="#" class="accordion-title sl_accordion__title" aria-controls="panel2" role="tab" id="panel2-label" aria-expanded="false" aria-selected="false">Accordian Title 2</a>
				<div id="panel2" class="accordion-content sl_accordion__content" data-tab-content="" role="tabpanel" aria-labelledby="panel2-label" aria-hidden="true">
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
				</div>
			</li>
			<li class="accordion-item sl_accordion__item" data-accordion-item=""><a href="#" class="accordion-title sl_accordion__title" aria-controls="panel3" role="tab" id="panel3-label" aria-expanded="false" aria-selected="false">Accordian Title 3</a>
				<div id="panel3" class="accordion-content sl_accordion__content" data-tab-content="" role="tabpanel" aria-labelledby="panel3-label" aria-hidden="true">
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
				</div>
			</li>
		</ul>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 400px;">
[accordion]
[accordion-item title="Accordian Title 1"]
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
[/accordion-item]
[accordion-item title="Accordian Title 2"]
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>[/accordion-item]
[accordion-item title="Accordian Title 3"]
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
[/accordion-item]
[/accordion]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_row">
<div class="sl_cell large-6">
	<ul class="accordion sl_accordion sl_accordion--faq" data-accordion="faq" data-multi-expand="true" data-allow-all-closed="true" role="tablist">
			<li class="accordion-item sl_accordion__item" data-accordion-item=""><a href="#" class="accordion-title sl_accordion__title" aria-controls="panel4" role="tab" id="panel4-label" aria-expanded="false" aria-selected="false">This would be a question?</a>
				<div id="panel1" class="accordion-content sl_accordion__content" data-tab-content="" role="tabpanel" aria-labelledby="panel1-label" aria-hidden="true">
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
				</div>
			</li>
			<li class="accordion-item sl_accordion__item" data-accordion-item=""><a href="#" class="accordion-title sl_accordion__title" aria-controls="panel5" role="tab" id="panel5-label" aria-expanded="false" aria-selected="false">This would be another question?</a>
				<div id="panel2" class="accordion-content sl_accordion__content" data-tab-content="" role="tabpanel" aria-labelledby="panel2-label" aria-hidden="true">
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
				</div>
			</li>
			<li class="accordion-item sl_accordion__item" data-accordion-item=""><a href="#" class="accordion-title sl_accordion__title" aria-controls="panel6" role="tab" id="panel6-label" aria-expanded="false" aria-selected="false">If people have more common questions?</a>
				<div id="panel3" class="accordion-content sl_accordion__content" data-tab-content="" role="tabpanel" aria-labelledby="panel3-label" aria-hidden="true">
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
				</div>
			</li>

			<li class="accordion-item sl_accordion__item" data-accordion-item=""><a href="#" class="accordion-title sl_accordion__title" aria-controls="panel7" role="tab" id="panel7-label" aria-expanded="false" aria-selected="false">If people have more common questions?</a>
				<div id="panel3" class="accordion-content sl_accordion__content" data-tab-content="" role="tabpanel" aria-labelledby="panel3-label" aria-hidden="true">
					<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
				</div>
			</li>
		</ul>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 400px;">
[accordion class="faq"]
[accordion-item title="Accordian Title 1"]
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
[/accordion-item]
[accordion-item title="Accordian Title 2"]
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>[/accordion-item]
[accordion-item title="Accordian Title 3"]
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
[/accordion-item]
[/accordion]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_divider"></div>

{# 9. CTA CALLOUT #}
<div class="sl_row">
<div class="sl_cell large-10">
	<div class="sl_callout sl_callout--cta">
		<h2>Give us a call  {{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in CTA Shortcode" class="sl_button sl_button--phone"]')}}</h2>
		<div class="sl_button-group">
			<a href="#" class="sl_button sl_button--secondary">Chat with a specialist</a>
			<a href="#" class="sl_button sl_button--secondary">Email</a>
		</div>
		<p><a class="sl_cta__modal" data-open="cta-video">What should I expect when I call?</a></p>
	</div>
	<div id="cta-video" class="reveal sl_reveal sl_reveal--video" data-reveal data-reset-on-close>
		<p>video will go here</p>
		<button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>{# /.sl_cell.large-10 #}
<div class="sl_cell large-2">
<code>
<textarea style="height: 75px;">
[cta]
</textarea>
</code>
</div>{# /.sl_cell large-2 #}
</div>{# /.row #}

<div class="sl_divider"></div>

{# 10. Tooltip #}
<div class="sl_row">
<div class="sl_cell large-6">
	<p>Lorem ipsum dolor sit amet, <span data-tooltip data-position="bottom" data-alignment="center" data-tooltip-class="sl_tooltip" class="sl_tooltip__word" title="Blah blah blah this is the definition of consectetur.">consectetur</span> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
<p>Lorem ipsum dolor sit amet, [tooltip definition="Blah blah blah this is the definition of consectetur."]consectetur[/tooltip] adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_divider"></div>

{# 11. Assessment #}
<div class="sl_row">
<div class="sl_cell large-9">
	<div class="sl_callout sl_callout--assessment">
		<div class="sl_row">
			<div class="sl_cell medium-6">
				<h3>We understand that you may not be ready to call yet</h3>
			</div>
			<div class="sl_cell medium-6">
				<a class="sl_button sl_button--secondary sl_assessment sl_self-assessment">Take our self-assessment</a>
			</div>
		</div>
	</div>
	<div class="sl_callout sl_callout--assessment">
		<div class="sl_row">
			<div class="sl_cell medium-6">
				<h3>Are you concerned for a loved one?</h3>
			</div>
			<div class="sl_cell medium-6">
				<a class="sl_button sl_button--secondary sl_assessment sl_love-assessment">Loved one assessment</a>
			</div>
		</div>
	</div>
</div>{# /.sl_cell.large-6 #}
<div class="sl_cell large-3">
<code>
<textarea style="height: 200px;">
[assessment]
[assessment type="loved-one"]
</textarea>
</code>
</div>{# /.sl_cell large-6 #}
</div>{# /.row #}

<div class="sl_divider"></div>

{# 12. DIVIDER #}
<div class="sl_row">

<div class="sl_cell large-6">
	<div class="sl_divider"></div>
</div>{# /.sl_cell.large-6 #}

<div class="sl_cell large-6">
<code>
<textarea style="height: 200px;">
[divider]
</textarea>
</code>
</div>{# /.sl_cell.large-6 #}

		</div>{# /.sl_inner #}
	</section>
</article>
{% endblock %}