{% extends "base.twig" %}

{% block content %}

  <div class="sl_header">
  	<div class="sl_inner">
  		<a class="sl_logo" href="/">
  			<img src="/wp-content/themes/slate/dist/assets/img/gw_gwhospital_logo_400.png" alt="The George Washington University Hospital" />
  		</a>
  	</div><!-- /.sl_inner -->
  	
  </div><!-- /.sl_header -->
  <div class="sl_content sl_content--thankyou">
  	<div id="thank-you" class="sl_module sl_duo sl_duo--full ">
  		<div class="sl_inner">
  			<div class="sl_row">
  				<div class="sl_cell large-4 medium-12 sl_duo__media">
  					<div class="sl_duo__image" style="background-image: url(/wp-content/themes/slate/dist/assets/img/duo/confirmation_movers_1100.jpg)">
  	
  						
  					</div><!-- /.sl_duo__image -->
  				</div><!-- /.sl_cell -->
  				<div class="sl_cell large-8 medium-12 sl_duo__content">
  					<div class="sl_card">
  						<h1 id="were-your-neighborhood-hospital">We’re Your Neighborhood Hospital!</h1>
  	
  						<p>Thank you for your interest in GW Hospital, where you&#x27;ll find convenience, quality care, and comprehensive services. Visit our website to learn more about our award-winning care and services.</p>
  	
  	
  						<div class="sl_button-group">
  							<a class="sl_button" href="https://www.gwhospital.com/" data-smooth-scroll data-offset="-100">Visit GW Hospital</a>
  						</div><!-- /.sl_button-group -->
  					</div><!-- /.sl_card -->
  				</div><!-- /.sl_cell -->
  			</div><!-- /.sl_row -->
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_duo -->
  	
  	<div id="footer-cta" class="sl_module sl_spotlight sl_spotlight--phone" >
  		<div class="sl_inner">
  			<h2 id="for-an-in-person-or-virtual-appointment-call-888-4gw-docs">For an in-person or virtual appointment, call <a href="tel:888-449-3627">888-4GW-DOCS</a></h2>
  	
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_spotlight --></div>
  
  <div id="footer" class="sl_footer">
  	<div class="sl_inner">
  		<div class="sl_row">
  			<div class="sl_cell">
  				<img src="/wp-content/themes/slate/dist/assets/img/gw_gwhospital_logo_400.png" class="sl_logo" alt="The George Washington University Hospital" />
  			</div><!-- /.sl_cell -->
  			<div class="sl_cell medium-auto small-12">
  				 <p>The George Washington University Hospital<br>900 23rd Street, NW<br>Washington, DC 20037<br><a href="tel:888-449-3627">888-4GW-DOCS</a></p>
  
  			</div><!-- /.sl_cell -->
  		</div><!-- /.sl_row -->
  		<p>The George Washington University Hospital is owned and operated by a subsidiary of Universal Health Services, Inc. (UHS), a King of Prussia, PA-based company, that is one of the largest healthcare management companies in the nation.</p>
  
  		<p>© <script>document.write(new Date().getFullYear())</script> The George Washington University Hospital. All rights reserved.</p>
  	</div><!-- /.sl_inner -->
  </div><!-- /.sl_footer -->

{% endblock %}