{% extends "base.twig" %}

{% block content %}

 <div class="sl_header">
  	<div class="sl_inner">
  		<a class="sl_logo" href="/">
  			<img src="/wp-content/themes/slate/dist/assets/img/gw_gwhospital_logo_400.png" alt="The George Washington University Hospital" />
  		</a>
  	</div><!-- /.sl_inner -->
  </div><!-- /.sl_header -->
  <div class="sl_content">
  	<div id="hero" class="sl_module sl_billboard" style="background-image: url(/wp-content/themes/slate/dist/assets/img/backgrounds/hero_family_3200.jpg)">
  		<div class="sl_inner">
  			<div class="sl_card">
  				<h1 id="your-neighborhood-hospital">Your Neighborhood Hospital</h1>
  	
  				<p>We hope you are beginning to settle in and loving your new home! We know you must still have so many things to do. That’s why we’ve made it easy for you to check the important task of choosing a new healthcare provider off your list.</p>
  	<p>To learn more about GW Hospital, get a referral or schedule an in-person or virtual appointment, get started by <a href="/contact-us">filling out this form</a> or calling <a href="tel:888-449-3627">888-4GW-DOCS</a> Monday – Friday, 8 am – 4 pm.</p>
  	
  				<div class="sl_button-group">
  					<a class="sl_button" href="/contact-us" data-smooth-scroll data-offset="-100">Get Started</a>
  				</div><!-- /.sl_button-group -->
  			</div><!-- /.sl_card -->
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_billboard -->	<div id="into" class="sl_module sl_spotlight sl_spotlight--underlap" style="background-image: url(/wp-content/themes/slate/dist/assets/img/backgrounds/GWbuilding_mono_3200.jpg)">
  		<div class="sl_inner">
  			<h2 id="primary-specialty-and-emergency-care-at-gw-hospital">Primary, Specialty and Emergency Care at GW Hospital</h2>
  	<h3 id="from-routine-care-to-lifesaving-emergencies-gw-hospital-is-here-for-you">From routine care to lifesaving emergencies, GW Hospital is here for you.</h3>
  	<h4 id="convenience">Convenience</h4>
  	<p>If it’s convenience you’re looking for, we’re located in the heart of Washington, DC and easily accessible from the Foggy Bottom metro stop or by car or bus.</p>
  	<h4 id="quality-care">Quality Care</h4>
  	<p>If receiving the best possible care is your top priority, GW Hospital has been recognized as a 2020-2021 Best Hospital by U.S. News &amp; World Report for providing high-quality healthcare. This includes achieving &quot;high performing&quot; status in the specialty area of Nephrology (kidney disease), as well as three common procedure areas including Chronic Obstructive Pulmonary Disease (COPD), Heart Failure, and Lung Cancer Surgery. We also use the latest groundbreaking technology, such as virtual reality, robotic surgery, and NicView™ cameras in our NICU.</p>
  	<h4 id="comprehensive-services">Comprehensive Services</h4>
  	<p>If a wide range of medical specialties is important to you, we have services to help you manage nearly any medical condition. And we have a Level I Trauma Center, able to evaluate and treat any injury. Make it easy on yourself and choose GW Hospital, where we provide world-class service and compassionate care. At GW, you are our top priority.</p>
  	
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_spotlight -->	<div id="emergency" class="sl_module sl_duo  ">
  		<div class="sl_inner">
  			<div class="sl_row">
  				<div class="sl_cell large-4 medium-12 sl_duo__media">
  					<div class="sl_duo__image" style="background-image: url(/wp-content/themes/slate/dist/assets/img/duo/patient-care_856.jpg)">
  	
  						
  					</div><!-- /.sl_duo__image -->
  				</div><!-- /.sl_cell -->
  				<div class="sl_cell large-8 medium-12 sl_duo__content">
  					<div class="sl_card">
  						<h3 id="emergency-and-primary-care">EMERGENCY AND PRIMARY CARE</h3>
  	
  						<p>All your routine primary care needs can be met at GW Hospital. We offer walk-in access and online scheduling for acute, nonemergent and non-life threating issues. Our facilities are accessible from the metro, and we offer extended hours.</p>
  	<p>Our Emergency Room is located in the heart of DC, accessible by metro, bus and car. We are designated a Comprehensive Stroke Center, and we have a cardiac catheterization suite available 24 hours a day to administer treatments to help treat heart attacks and other heart conditions. We are also a Level I Trauma Center, ready to care for severely injured and critically ill patients.</p>
  	
  	
  					</div><!-- /.sl_card -->
  				</div><!-- /.sl_cell -->
  			</div><!-- /.sl_row -->
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_duo -->
  	
  	<div id="service" class="sl_module sl_duo  sl_duo--right">
  		<div class="sl_inner">
  			<div class="sl_row">
  				<div class="sl_cell large-4 medium-12 sl_duo__media">
  					<div class="sl_duo__image" style="background-image: url(/wp-content/themes/slate/dist/assets/img/duo/specialties_856.jpg)">
  	
  						
  					</div><!-- /.sl_duo__image -->
  				</div><!-- /.sl_cell -->
  				<div class="sl_cell large-8 medium-12 sl_duo__content">
  					<div class="sl_card">
  						<h3 id="service-line-specialties">SERVICE LINE SPECIALTIES</h3>
  	
  						<p>If you need specialty care, GW Hospital has experienced physicians who can diagnose and treat a wide range of complex medical conditions. This includes cancer care, orthopedics, cardiology and cardiac surgery, neurology, general surgery, digestive disorders, women’s services, liver and pancreas, weight-loss surgery, wound healing and many more.</p>
  	<p>GW Hospital has been nationally recognized in many specialties, including orthopedic surgery where we received designation as a Blue Distinction® Center for Knee and Hip Replacement from CareFirst BlueCross® BlueShield®, and minimally invasive gynecology where we were named a Center of Excellence for the seventh consecutive year.</p>
  	
  	
  					</div><!-- /.sl_card -->
  				</div><!-- /.sl_cell -->
  			</div><!-- /.sl_row -->
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_duo -->
  	
  	<div id="technology" class="sl_module sl_duo sl_module--withbottom ">
  		<div class="sl_inner">
  			<div class="sl_row">
  				<div class="sl_cell large-4 medium-12 sl_duo__media">
  					<div class="sl_duo__image" style="background-image: url(/wp-content/themes/slate/dist/assets/img/duo/technology_856.jpg)">
  	
  						
  					</div><!-- /.sl_duo__image -->
  				</div><!-- /.sl_cell -->
  				<div class="sl_cell large-8 medium-12 sl_duo__content">
  					<div class="sl_card">
  						<h3 id="advanced-technology-and-innovation">ADVANCED TECHNOLOGY AND INNOVATION</h3>
  	
  						<p>As an academic medical center dedicated to education, research and technology, we’re always making investments to better serve our patients. We use advanced technological solutions such as:</p>
  	<ul>
  	<li><strong>Precision Virtual Reality</strong>, which enables surgeons to virtually explore a patient’s brain and body prior to performing a procedure</li>
  	<li><strong>Extracorporeal Membrane Oxygenation (ECMO)</strong>, which uses a pump and artificial lung to function as the heart and lungs during the healing process from various injuries</li>
  	<li><strong>Robotic and Minimally Invasive Surgery</strong>, which enables surgeons to operate through small incisions and often results in greater surgical precision, fewer complications, smaller scars, less pain, and a quicker recovery.*</li>
  	<li><strong>NicView cameras in our NICU</strong>, which allow parents to view their baby 24/7 through an online portal.</li>
  	</ul>

          <p><em>*Individual results may vary. There are risks associated with any surgical procedure. Talk with your doctor about these risks to find out if robotic surgery or minimally invasive surgery is right for you.</em></p>
  	
  	
  					</div><!-- /.sl_card -->
  				</div><!-- /.sl_cell -->
  			</div><!-- /.sl_row -->
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_duo -->
  	
  	<div id="testimonial-1" class="sl_module sl_testimonial  sl_testimonial--right">
  		<div class="sl_inner">
  			
  			
  			<div class="sl_row">
  				<div class="sl_cell large-6 medium-12 sl_testimonial__media">
  					<div class="sl_testimonial__image" style="background-image: url(/wp-content/themes/slate/dist/assets/img/backgrounds/danielle_videoscreen2_1600.jpg)">
  	
  						<a class="sl_button sl_button--video" data-open="danielle-video"><i class="fab fa-youtube"></i></a>
  						
  					</div><!-- /.sl_testimonial__image -->
  				</div><!-- /.sl_cell -->
  				<div class="sl_cell large-6 medium-12 sl_testimonial__content">
  					<div class="sl_card">
  						<div class="sl_testimonial__quote">
  							<p>“Virtual Reality helped save my life”</p>
  	
  						</div><!-- /.sl_testimonial__quote -->
  						<div class="sl_testimonial__cite">
  							<p>Danielle Collins was diagnosed with a rare brain condition. Neurosurgeons used virtual reality to help save her life.</p>
  	
  						</div><!-- /.sl_testimonial__cite -->
  					</div><!-- /.sl_testimonial__content -->
  				</div><!-- /.sl_cell -->
  			</div><!-- /.sl_row -->
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_testimonial -->
  	
  	<div class="reveal sl_reveal sl_reveal--video" data-reveal data-reset-on-close="true" id="danielle-video">
  		<div class="responsive-embed widescreen">
  			<iframe width="560" height="315" src="https://www.youtube.com/embed/Aj2qtkZ30K0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  		</div>
  			<button class="close-button" data-close aria-label="Close modal" type="button">
  			<span aria-hidden>&times;</span>
  			</button>
  	</div>
  	<div id="testimonial-2" class="sl_module sl_testimonial  ">
  		<div class="sl_inner">
  			
  			
  			<div class="sl_row">
  				<div class="sl_cell large-6 medium-12 sl_testimonial__media">
  					<div class="sl_testimonial__image" style="background-image: url(/wp-content/themes/slate/dist/assets/img/backgrounds/jeffrey_videoscreen2_1600.jpg)">
  	
  						<a class="sl_button sl_button--video" data-open="jeffrey-video"><i class="fab fa-youtube"></i></a>
  						
  					</div><!-- /.sl_testimonial__image -->
  				</div><!-- /.sl_cell -->
  				<div class="sl_cell large-6 medium-12 sl_testimonial__content">
  					<div class="sl_card">
  						<div class="sl_testimonial__quote">
  							<p>“My heart
  	keeps pumping”</p>
  	
  						</div><!-- /.sl_testimonial__quote -->
  						<div class="sl_testimonial__cite">
  							<p>Jeffrey Richardson was diagnosed with congestive heart failure. When it became clear that his medication was no longer working, he underwent a Left Ventricular Assist Device (LVAD) procedure at GW Hospital.</p>
  	
  						</div><!-- /.sl_testimonial__cite -->
  					</div><!-- /.sl_testimonial__content -->
  				</div><!-- /.sl_cell -->
  			</div><!-- /.sl_row -->
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_testimonial -->
  	
  	<div class="reveal sl_reveal sl_reveal--video" data-reveal data-reset-on-close="true" id="jeffrey-video">
  		<div class="responsive-embed widescreen">
  			<iframe width="560" height="315" src="https://www.youtube.com/embed/J3lwj2Cu-GQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  		</div>
  			<button class="close-button" data-close aria-label="Close modal" type="button">
  			<span aria-hidden>&times;</span>
  			</button>
  	</div>
  	<div id="safety" class="sl_module sl_spotlight " >
  		<div class="sl_inner">
  			<h2 id="keeping-you-safe">Keeping You Safe</h2>
  	<h3 id="you-dont-have-to-put-your-healthcare-needs-on-hold">You don’t have to put your healthcare needs on hold!</h3>
  	<p>GW Hospital is taking extensive measures to help keep you safe during your visit. This includes screening all who enter the facility, social distancing, universal masking, isolation of COVID-19 patients, enhanced disinfection, limited visitation and more.</p>
  	<p>In addition to in-person visits, quality care is also offered through virtual health services. Use your phone, laptop or other device to access virtual care wherever you are.</p>
  	
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_spotlight -->	<div id="footer-cta" class="sl_module sl_spotlight sl_spotlight--phone" >
  		<div class="sl_inner">
  			<h2 id="for-an-in-person-or-virtual-appointment-call-888-4gw-docs">For an in-person or virtual appointment, call <a href="tel:888-449-3627">888-4GW-DOCS</a></h2>
  	
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_spotlight -->	<div class="sl_module sl_location ">
  		<div class="sl_inner sl_inner--expanded">
  			<div class="sl_row">
  				<div class="sl_cell sl_location__content xlarge-4 large-5 medium-12">
  					<div class="sl_card">
  						<h3 id="the-george-washington-university-hospital">The George Washington University Hospital</h3>
  	<p>900 23rd Street, NW<br>Washington, DC 20037</p>
  	<p><a href="tel:888-449-3627">888-4GW-DOCS</a></p>
  	<p>GW Hospital is located in the heart of Washington, DC and is accessible from the Foggy Bottom metro stop. Parking garages are one block away and valet parking is also available.</p>
  	
  						<a class="sl_button" target="_blank" href="https://www.google.com/maps/dir//George+Washington+University+Hospital,+900+23rd+St+NW,+Washington,+DC+20037/@38.901261,-77.0529352,17z/data&#x3D;!4m8!4m7!1m0!1m5!1m1!1s0x89b7b7b3d8f47f3b:0x2139fc5175afdc65!2m2!1d-77.0507412!2d38.901261">Get Directions</a>
  					</div><!-- /.sl_card -->
  				</div><!-- /.sl_cell -->
  				<div class="sl_cell sl_location__map xlarge-8 large-7 medium-12 show-for-medium">
  					<div class="map-container">
  						<div class="map"
  						data-map
  						data-map-lat="38.901261"
  						data-map-lng="-77.0529352"
  	        			data-map-zoom="15"><div>
  					</div>
  				</div><!-- /.sl_cell -->
  			</div><!-- /.sl_row -->
  		</div><!-- /.sl_inner -->
  	</div><!-- /.sl_module.sl_location --></div>
  
  <div id="footer" class="sl_footer">
  	<div class="sl_inner">
  		<div class="sl_row">
  			<div class="sl_cell">
  				<img src="/wp-content/themes/slate/dist/assets/img/gw_gwhospital_logo_400.png" class="sl_logo" alt="The George Washington University Hospital" />
  			</div><!-- /.sl_cell -->
  			<div class="sl_cell medium-auto small-12">
  				 <p>The George Washington University Hospital<br>900 23rd Street, NW<br>Washington, DC 20037<br><a href="tel:888-449-3627">888-4GW-DOCS</a></p>
  
  			</div><!-- /.sl_cell -->
  		</div><!-- /.sl_row -->
  		<p>The George Washington University Hospital is owned and operated by a subsidiary of Universal Health Services, Inc. (UHS), a King of Prussia, PA-based company, that is one of the largest healthcare management companies in the nation.</p>
  
  		<p>© <script>document.write(new Date().getFullYear())</script> The George Washington University Hospital. All rights reserved.</p>
  	</div><!-- /.sl_inner -->
  </div><!-- /.sl_footer -->
{% endblock %}
