{% extends "base.twig" %}

{% block content %}
  <div class="sl_header">
  	<div class="sl_inner">
  		<a class="sl_logo" href="/">
  			<img src="/wp-content/themes/slate/dist/assets/img/gw_gwhospital_logo_400.png" alt="The George Washington University Hospital" />
  		</a>
  	</div><!-- /.sl_inner -->
  	
  </div><!-- /.sl_header -->
  <div class="sl_content sl_content--contact">
  	<div class="sl_inner">
  		<h1>Contact GW Hospital</h1>
  		<p>To learn more about GW Hospital, get a referral or schedule an in-person or virtual appointment, fill out the form below or call <a href="tel: 888-449-3627">888-4GW-DOCS</a> Monday – Friday, 8 am – 4 pm.</p>
        {{function('do_shortcode', '[gravityform title="false" id="1"]')}}
  	</div>
  </div>
  
  <div id="footer" class="sl_footer">
  	<div class="sl_inner">
  		<div class="sl_row">
  			<div class="sl_cell">
  				<img src="/wp-content/themes/slate/dist/assets/img/gw_gwhospital_logo_400.png" class="sl_logo" alt="The George Washington University Hospital" />
  			</div><!-- /.sl_cell -->
  			<div class="sl_cell medium-auto small-12">
  				 <p>The George Washington University Hospital<br>900 23rd Street, NW<br>Washington, DC 20037<br><a href="tel:888-449-3627">888-4GW-DOCS</a></p>
  
  			</div><!-- /.sl_cell -->
  		</div><!-- /.sl_row -->
  		<p>The George Washington University Hospital is owned and operated by a subsidiary of Universal Health Services, Inc. (UHS), a King of Prussia, PA-based company, that is one of the largest healthcare management companies in the nation.</p>
  
  		<p>© <script>document.write(new Date().getFullYear())</script> The George Washington University Hospital. All rights reserved.</p>
  	</div><!-- /.sl_inner -->
  </div><!-- /.sl_footer -->
{% endblock %}