{% block html_head_container %}

{% include 'partials/base/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDKDV57"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
		{# PAGE CONTENT #}
		<section id="content" role="main" class="sl_content">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</section>
		{# END PAGE CONTENT #}
		
		{# FOOTER  #}
		{% block footer %}
			{{ function('wp_footer') }}
		{% endblock %}
		{# END FOOTER#}
	</body>
	
</html>
