<div id="sl_footer" class="sl_footer">

    {# Info #}
    <div class="sl_footer__info">
		<div class="sl_inner">
			<div class="sl_row">
				<div class="sl_cell medium-7">
					{# LOGO #}
					{% include "sl_logo.twig" with {'image': option} %}
				</div>{# /.sl_cell #}
				<div class="sl_cell medium-5">
					{# ADDRESS #}
					{% include "partials/footer/address.twig" with {phone: 'true'} %}
				</div>{# /.sl_cell #}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__email #}

	<div class="sl_footer__menu">
		<div class="sl_inner">


		<div class="sl_row">

			<div class="sl_cell medium-8">
				{# SOCIAL ICONS#}
				{% include "partials/footer/social-media.twig"  %}
			</div>

			<div class="sl_cell medium-4">
			</div>
		</div>

		{# FOOTER MAIN MENU #}
    	{% include "partials/footer/footer-menu.twig" %}

  		{# COPYRIGHT #}
  		{{ function('do_shortcode', '[frn_footer]')}}
		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__menu#}
</div>{# /.sl_footer #}