.sl_duo {
	background-color: get-color(accent3);

	@include breakpoint (medium down) {
		padding: 0;
	}//end medium down breakpoint

	&--right {
		.sl_duo__media {
			order: 2;

			@include breakpoint (medium down) {
				order: 1;
			}//end medium down breakpoint
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
			padding-left: 0;
			padding-right: $spacing--lg;

			@include breakpoint (medium down) {
				order: 2;
				padding: $spacing--md $spacing--md $spacing--lg;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm $spacing--xs $spacing--md;
			}//end small down breakpoint
		}//end .sl_duo__content
	}//end &--right

	.sl_inner {
		@include breakpoint (medium down) {
			padding: 0;
		}//end medium down breakpoint
	}//end .sl_inner

	&__media {
		position: relative;
		z-index: 1;
		height: 275px;

		@include breakpoint (medium only) {
			height: 420px;
		}//end medium only breakpoint
	}//end &__media

	&__image {
		position: absolute;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		.sl_button {
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 35px);
		}//end .sl_button
	}//end &__image

	&__content {
		padding-left: $spacing--lg;

		@include breakpoint (medium only) {
			padding: $spacing--md $spacing--md $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--sm $spacing--xs $spacing--md;
		}//end small down breakpoint

		h3 {
			font-weight: $font-weight--semibold;
			margin-bottom: $spacing--sm;
		}//end h3
	}//end &__content

	//DUO TYPES

	&--full {
		background-color: get-color(inverse);
		padding: 0;

		& > .sl_inner {
			padding: 0;
			max-width: none;
		}//end & > .sl_inner

		.sl_duo__media {
			height: auto;

			@include breakpoint (medium only) {
				min-height: 420px;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end .sl_duo__media

		.sl_duo__image {
			background-position: center top;

			@include breakpoint (small down) {
				background-image: url(#{$path-img}duo/confpg_movercouple_mobile_800.jpg) !important;
			}//end small down breakpoint
		}//end .sl_duo__image

		.sl_duo__content {
			padding: $spacing--xl * 2 $spacing--xl;
			padding-right: $spacing--xxl * 2;
			max-width: $grid-container * .667;

			@include breakpoint (medium only) {
				padding: $spacing--md $spacing--md $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm $spacing--xs $spacing--md;
			}//end small down breakpoint
		}//end .sl_duo__content

		h1 {
			line-height: 1.15;
			margin-bottom: $spacing--sm;

			@include breakpoint (small down) {
				text-align: center;
				line-height: 1.2;
			}//end small down breakpoint
		}//end h1

		p {
			font-size: 1.5rem;

			@include breakpoint (small down) {
				font-size: 1rem;
				text-align: center;
			}//end small down breakpoint
		}//end p

		.sl_button-group {
			justify-content: flex-start;
		}//end .sl_button-group
	}//end &--full
}//end .sl_duo