.sl_imagegrid {
	padding-top: $spacing--xl;
	.sl_inner {
		& > .sl_row {
			max-width: 450px;
			margin: 0 auto;
			align-items: center;
			justify-content: center;

			& > .sl_cell {
				flex: 1 1 0px;
				text-align: center;

				@include breakpoint (small down) {
					flex: 0 0 auto;
					&:not(:last-of-type) {
						margin-bottom: $spacing--lg;
					}//end &:not(:last-of-type)
				}//end small down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner
	img {
		max-height: 100px;
		width: auto;
	}//end img
}//end .sl_imagegrid